<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 控制台日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] [%c:%L]-%m%n</pattern>
		</layout>
	</appender>

	<appender name="COMMON"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logger.file}</File>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] [%c:%L]-%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logger.file}.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="bd_count_Log" class="ch.qos.logback.classic.AsyncAppender">
    		<appender-ref ref="COMMON" />
    		<queueSize>1024</queueSize>
    		<discardingThreshold >0</discardingThreshold>
    </appender>

	<!-- Logging configuration for SGF -->
	<appender name="sgfIoLogSync"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home:-.}/logs/bd_count/sgfio.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%.-1level|%logger{0}|%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-.}/logs/bd_count/sgfio.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="sgfIoLog" class="ch.qos.logback.classic.AsyncAppender">
    		<appender-ref ref="sgfIoLogSync" />
    		<queueSize>1024</queueSize>
    		<discardingThreshold >0</discardingThreshold>
    </appender>
    <!-- Logging configuration for SGF -->
	<logger name="com.qmc.sgf.servlet.ServletLogger" additivity="false" level="INFO">
		<appender-ref ref="sgfIoLog"/>
	</logger>
	<logger name="com.qmc.sgf.rpc.RpcLogger" additivity="false" level="INFO">
		<appender-ref ref="sgfIoLog"/>
	</logger>
	<logger name="org.apache" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.mangofactory.swagger" level="INFO" />
	<logger name="net.sf" level="ERROR" />
	<root level="INFO">
		<appender-ref ref="bd_count_Log" />
		<!--<appender-ref ref="STDOUT" />-->
	</root>

	<appender name="sgfIoLogSync"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home:-.}/logs/bd_count/sgfio.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%.-1level|%logger{0}|%msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-.}/logs/bd_count/sgfio.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="sgfIoLog" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="sgfIoLogSync" />
		<queueSize>1024</queueSize>
		<discardingThreshold>0</discardingThreshold>
	</appender>
	<!-- Logging configuration for SGF -->
	<logger name="com.qmc.sgf.servlet.ServletLogger" additivity="false"
		level="INFO">
		<appender-ref ref="sgfIoLog" />
	</logger>
	<logger name="com.qmc.sgf.rpc.RpcLogger" additivity="false"
		level="INFO">
		<appender-ref ref="sgfIoLog" />
	</logger>
</configuration>
